__pycache__/
output*/
*.pth
*.pt
output/
utils/__pycache__/
wolfexamples/
mkd_files/
mkd_model_answers/
run_script_phybench.py
run_script_phybench.sh
batchrun_copy2.py
.env
#
utils/Dainarx_code/data*

# output files
evaluation_results_duffing*/
task_prompts/
evaluation_results_20260223/

# data files
data_all/
data_*/
analysis_plots_train/

# phoenix traces
phoenix_traces/