__pycache__/
output*/
*.pth
*.pt
output/
utils/__pycache__/
wolfexamples/
mkd_files/
mkd_model_answers/
run_script_phybench.py
run_script_phybench.sh
batchrun_copy2.py
.env
#
utils/Dainarx_code/data*

# output files
evaluation_results_duffing/
evaluation_results_duffing_gemini3pro/
task_prompts/

# data files
data_all/
data_*/

# phoenix traces
phoenix_traces/